h1, h2, h3, h4 {
  font-family: "BentonSans";
  page-break-after: avoid;
}

img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Georgia Pro";
  margin: 1in;
}
